body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 700;
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-for-flex {
	display: none;
}

.slide-caption {
	font-size: 60px;
	line-height: 60px;
	color: #ffffff;
	font-weight: bold;
}
.promo-caption {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}
.feedback-caption {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: bold;
}
.catalog-caption {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.item-caption {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: normal;
}

h3 > a {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.header-container {
	max-width: 1200px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.main-header {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.logo-menu {
	display: flex;
	width: 585px;
}

.logo-header {
	width: 155px;
	margin-top: 9px;
	margin-left: 27px;
}

.site-navigation {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 400px;
	margin-top: 30px;
}

.sub-menu {
	position: absolute;
    top: 47px;
    display: none;
    box-sizing: border-box;
    width: 143px;
    margin-left: -7px;
    padding: 0;
    overflow: hidden;
    list-style: none;
    background-color: #f7f6f3;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.site-navigation > li:hover .sub-menu {
    display: block;
}

.site-navigation a {
	display: block;
	color: #ffffff;
	text-decoration: underline;
}

.sub-menu a {
	display: block;
    padding: 8px 5px 8px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    white-space: normal;
    text-decoration: none;
}

.user-menu-info {
	display: flex;
	width: 270px;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: 27px;
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 25px;
	width: 270px;
}

.head-search {
}

.user-form {

}

.info-menu {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 270px;

}

.info-menu a {
	display: block;
}

.user-menu a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #242424;
	background-color: #f7f6f3;
}

.sub-menu a:hover{
	color: #242424;
	background: #fbded7;
}

.sub-menu a:focus {
	color: #242424;
	background: #f6b5a5;
}

.head-search a:hover,
.user:hover {
	background: #ffffff;
	color: #242424;
}

.user-form a {
	color: #242424;
}

 .tel {
 	font-size: 22px;
 	line-height: 24px;
 	color: #ffffff;
 }

 .slider {
 	display: flex;
	width: 1146px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -50px;
 }

.slider input[type="radio"] {
  display: none;
}

 .slider input {
 	margin-top: 500px;
 }

 .slider-dot {
 	/*Здесь будет стилизация лейблов для слайда*/
 }

.slide {
	z-index: 1;
	padding-bottom: 50px;
}

.slider .slide {
	margin-left: 250px;
}

.slide h2,
.slide a {
	position: relative;
	z-index: 2;
	margin-top: -280px;
	width: 670px;
	text-align: center;
	
}

/*.slide:nth-child(1) {
 	display: none;
}
*/

 .slide:nth-child(2) {
 	display: none;
 }

 .slide:nth-child(3) {
 	display: none;
 }

 .button-big {
 	padding: 15px 25px;
 	width: 280px;
 	border-radius: 40px;
 	margin-left: 210px;
 	font-size: 32px;
 	line-height: 44px;
 	background: #e05336;
 	color: #ffffff;
 }

.promo {
	display: flex;
	margin: 0 auto;
	width: 1146px;
	justify-content: space-between;
}

.promo1 {
	width: 560px;
	height: 230px;
	background-image: url(../img/malina.jpg);
	border-radius: 15px;
}

.promo2 {
	width: 560px;
	height: 230px;
	background-image: url(../img/chokolate.jpg);
	border-radius: 15px;
}

.promo1 h2,
.promo2 h2 {
	margin-left: 20px;
	margin-top: 15px;
}

.promo1 p,
.promo2 p {
	margin-left: 20px;
	font-size: 18px;
	line-height: 22px;
	width: 515px;
	color: #ffffff;
	z-index: 1;
}

.promo1 a,
.promo2 a {
	margin-left: 350px;
}

.ice-cream-catalog {
	display: flex;
	flex-wrap: wrap;
	width: 1146px;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 40px;
	list-style: none;
}

.ice-cream-catalog p {
	width: 267px;
	text-align: center;
	text-decoration: underline;
	color: #ffffff;
}

.catalog-item {
    text-align: center;
	width: 267px;
	padding: 0;
  	margin: 0;
	margin-bottom: 20px;
	margin-right: 20px;
}

.catalog-image-container {
	position: relative;
}

.item-price {
	position: absolute;
	left: 0;
	top: 210px;
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(49,50,53,.5);
	z-index: 2;
}

.catalog-item-hit {
	position: relative;
    margin-bottom: 10px;
}

.catalog-item-hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url(../img/hit.svg);
    z-index: 2;
}

.info-gllacy {
	display: flex;
	width: 1146px;
	height: 306px;
	margin: 0 auto;
}

.info-about-us {
    padding: 15px 0;
    background: #ebdfc6 url(../img/wafer.png);
    border-radius: 15px;
}

.info-caption {
	width: 1146px;
	padding-left: 20px;
	padding-top: 5px;
}

.info-about-us .features {
    margin: 0;
    padding: 0;
}

.feature {
	display: inline-block;
	box-sizing: border-box;
	width: 565px;
    margin-right: 2px;
    padding: 17px 8px 10px 76px;
    list-style-type: none;
    vertical-align: top;
    color: #323232;
}

.info-gllacy b {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.info-gllacy li {
	list-style: none;
	font-weight: 400;
}

.news-subscription {
	display: flex;
	width: 1146px;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 40px;
}

.news {
	background-image: url(../img/strawberry.jpg);
	width: 560px;
	height: 220px;
	border-radius: 15px;
}

.subscription { 
	background-image: url(../img/post-bg.png);
	width: 560px;
	height: 220px;
	border-radius: 15px;
}


.news p {
	margin-left: 20px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.news a {
	display: flex;
	width: 285px;
	font-size: 24px;
	line-height: 30px;
	margin-left: 20px;
	color: #323232;
	align-content: center;
	text-decoration: underline;
}

.subscription {
	display: flex;
	flex-wrap: wrap;
}

.subscription p {
	padding: 25px 26px 0px 26px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.subscription-form {
	display: flex;	
}

.email-sub {
	display: flex;
	justify-content: space-between;
	width: 510px;
	margin-left: 25px;
	margin-bottom: 40px;
}

.subscription input {
	width: 100%;
	box-sizing: border-box;
}

.subscription-form button {
	padding: 10px 20px;
}

 .head-user input::-webkit-input-placeholder,
 .head-search input::-webkit-input-placeholder,
 .email-sub input::-webkit-input-placeholder {
 	padding-left: 15px;
	font-size: 14px;
 }

 .button {
 	display: inline-block;
 	margin-top: 10px;
	padding: 10px 20px;
 	border-radius: 30px;
 	background: #e05336;
 	color: #ffffff;
 	font-size: 18px;
 }

 .button:hover,
 .button-big:hover {
 	background: #f17b64;
 }

 .button:focus,
 .button-big:focus {
 	background: #db5137;
 }

.map{
    width: 100%;
    min-height: 430px;
    background: url(../img/map.png) no-repeat;
    background-size: cover;
    margin-top: 37px;
    padding-top: 65px 27px;
}

.map-adres-container {
	width: 1146px;
	margin: 0 auto;
	padding-top: 63px;
}

.info-map {
	width: 240px;
	margin-left: auto;
	background: #ffffff;
	border-radius: 15px;
	padding: 28px 40px;
}

.button-feedback {
	text-align: center;
	width: 210px;
	margin-top: 25px;
}

.info-map p {
	font-size: 14px;
 	line-height: 20px;
 	font-weight: 400;
 	font-style: normal;                                                                   
}

 .feedback-info p {
 	font-size: 14px;
 	line-height: 20px;
 	font-weight: 400;
 	font-style: normal;
 	margin: 5px auto;
 }

.feedback-info b {
 	font-size: 18px;
 	font-style: normal;
 }

.feedback-info a {
	font-size: 18px;
	color: #323232;
	font-style: normal;
}

.main-footer {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.footer-social ul {
	display: flex;
	width: 190px;
	list-style: none;
	justify-content: space-between;
}

.footer-docs ul {
	display: flex;
	list-style: none;
	width: 308px;
	justify-content: space-between;
}

.footer-docs ul:nth-child(2) {
	margin-top: -10px;
}

.footer-docs a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	text-decoration: underline;
}

.footer-docs a:first-child {
	font-weight: 700;
}

.copyright {
	margin-top: 20px;
}

.copyright a + p {
	margin-top: 0px;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.copyright a {
	color: #ffffff;
	text-decoration: underline;
}

/* Страница каталога */

.button-user {
	color: #ffffff;
}

.head-basket a {
	color: #323232;
}

table {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

hr {
	border-color: #323232;
}

.head-basket b {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
}

.breadcrumbs-container {
	display: flex;
	flex-direction: column;
	width: 1146px;
	padding: 0;
  	margin: -35px;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumbs-container ul {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

.breadcrumbs-container h1 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.breadcrumbs,
.breadcrumbs a {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

.breadcrumbs a {
	padding: 0 20px;
	text-decoration: underline;
}

.breadcrumbs-active a {
	text-decoration: none;
}

.filters {
	display: flex;
	width: 1146px;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.filter-row1 {
	display: flex;
	width: 880px;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

.filter-row2 {
	padding: 0;
	margin: 0;
}

.filter-sorting {
	width: 195px;
}

.filter-price {
	width: 220px;
}

.filter-fat {
	
}

.fat {
	display: flex;
	justify-content: space-between;
	width: 420px;
}

.fat input + label {
	margin-left: -30px;
}

.filter-row2 {
	display: flex;
	justify-content: space-between;
}

.fillers {
	display: flex;
	width: 703px;
	justify-content: space-between;
}

.fillers input + label {
	margin-left: -30px;
}

.filter-save {
	margin-right: 20px;
}

.filters legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.sorting option {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	background: #a9b9af;
}

.fat label,
.fillers label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.filter-save {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background: 9cb0a4;
	color: #ffffff;
	border: 1px solid white;
	border-radius: 10px;
}

.filter-save:hover {
	background: #ffffff;
	color: #323232;
	border: 1px solid white;
	border-radius: 10px;
}

.filter-save:focus {
	background: #eaeaea;
	color: #323232;
	border: 1px solid white;
	border-radius: 10px;
}

.filter button:hover,
.filter button:focus {
	color: #323232;
}

.item-list {
	display: flex;
	margin-top: 25px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.catalog-list {
	display: flex;
	padding: 0;
  	margin: 0;
  	flex-wrap: wrap;
  	justify-content: space-between;
	list-style: none;
}



.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: underline;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	width: 1200px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	list-style-type: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.pagination-list a {
	padding: 0 10px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.pagination-item-current a {
	color: #323232;
}

